<div class="container mt-4">
  <app-demo-component></app-demo-component>
  <app-databinding-demo-component></app-databinding-demo-component>
  <app-eventbinding-demo-component></app-eventbinding-demo-component>
  <div class="my-2">
    <app-propertybinding-demo-component></app-propertybinding-demo-component>
  </div>
  <app-twowaybinding-demo-component></app-twowaybinding-demo-component>
  <app-environment-demo-component></app-environment-demo-component>
  <app-directives-demo-component></app-directives-demo-component>
</div>
<div class="container mt-4">
  <app-first-dummy-component></app-first-dummy-component>
  <app-second-dummy-component></app-second-dummy-component>
</div>
<app-users-component></app-users-component>
